/* style.css - Aiming to preserve default browser appearance. */

/* Use the default sans serif font everywhere. */
* {
  font-family: sans-serif;
}

/* A blank clickable space. */
.hidden-link {
  display: inline-block;
  width: 100%;
  height: 1em;
  background-color: transparent;
  text-decoration: none;
}