/* WEB FONT */
@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);

/* RESET */
* {
  padding: 0;
  border: 0;
}

/* BASIC */
body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

.fancy_title {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 rgba(90, 153, 242, 0.6), 0 -2px 0 rgba(76, 133, 240, 0.8);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 4px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;               
  background-color: #bcbcbc;
  height: 1px;
}

h1, h2 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 36px;
  line-height: 46px;
  color: #e0e0e0;
}
h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: -20px;
}
p {
  margin: 20px 0;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

#aw-stamp {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: auto;
}

.spaced_icon {
color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 700;
  font-size: 0.975rem;
  text-shadow: 0 1px 0 rgba(83, 135, 22, 0.3), 0 -2px 0 rgba(76, 133, 240, 0.3);
}

/* LAYOUT */
.fixed-nav-bar {
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

.content {
  position: relative;
  background: #ffffff url(images/desk.jpg) no-repeat center center fixed;
  background-size: cover;
  max-height: 100vh;
 }

.content_coursework {
  position: absolute;
  background: #ffffff url(images/desk.jpg) no-repeat center center fixed;
  background-size: cover;
}

div.CV_image {
  margin: 0 auto;
  width: 80%;
  content:url(images/Alex_Walczak_CV.png);
  margin-bottom: 20px;
}​

.description, .some-related-articles {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.description {
  min-height: 100vh;
  text-align: center;
}
.some-related-articles {
  color: #747474;
}
.some-related-articles h1 {
  color: #384e56;
  margin-top: 5%;
  margin-bottom: 2%;
  text-transform: uppercase;
}
.some-related-articles h2 a:link, .some-related-articles h2 a:visited  {
  color: #464646;
  transition: color 0.1s ease;
}
.some-related-articles h2 a:hover {
  color: #000000;
  transition: color 0.3s ease;
}
/* SPECIAL */
.summary {
  /*color: #d9dee2;*/
  margin-top: 40px;
  margin-bottom: 60px;
}
.button, .button:visited, .button-dark {
  padding-bottom: 10%;
  display: inline-block;
  max-width: 200px;
  margin: 50px 10px 30px 10px;
  padding: 10px;
  font-family: "Signika", sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease;
}
.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #464646;
  border-color: #464646;

}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-dark:hover {
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.9);
}

.transparentBox {
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 100%;
    color: #384e56;
    background-color: #ffffff;
    /*border: 1px solid rgb(134, 134, 134);*/
    opacity: 0.75;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.transparentBoxWide {
    width: 50%;
    margin: 0 auto;
    /*margin: 5%;*/
    font-weight: bold;
    font-size: 100%;
    color: #2d4249;
    background-color: #ffffff;
    /*border: 1px solid rgb(134, 134, 134);*/
    opacity: 0.75;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

code.transparentBox {
    margin: 5%;
    font-weight: bold;
    font-size: 100%;
    color: #384e56;
}

.resize_fit_center {
    vertical-align: middle;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

#container{
    display: block;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}
#container > img{
    /*max-width: 100%;*/
    /*height: auto;*/
    min-height: 20%;
    max-width: 90%;
    /*float:left;*/
}

td {
    width: 35%;
}

li {
  padding-bottom: 0.5%;
}
