:root {
	color-scheme: light dark;
}

html {
	font-size: 1em;
}

@supports (font: -apple-system-body) {
	html {
		font: -apple-system-body;
	}
}

body {
	width: 75%;
	margin: 30px auto;
	color: #333;
	background-color: #fff;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ddd;
		background-color: #222;
	}
}

p, h2, h3 {
	text-align: center;
}

p {
	font-size: 1.25rem;
	line-height: 1.5;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

img {
	display: block;
	margin: 0 auto;
	width: 100px;
}
